<div id="twitter">
	<a href="/twitter/signout"> Sign out of Twitter </a>
	<ul>
	<% session[:twitter][:info].each do |key, value| %>
		<li><%= key %> -- <%= value %> </li>
	<% end %>
	<% session[:twitter][:credentials].each do |key, value| %>
		<li><%= key %> -- <%= value %> </li>
	<% end %>
	</ul>
</div>