<div id="twitter">
	<a href="/twitter/signout"> Sign out of Twitter </a>
	<div id="twitterprofile">
		Nickname: <%=session[:twitter][:info][:nickname]%>
		Name: <%=session[:twitter][:info][:name]%>
		Description: <%=session[:twitter][:info][:description]%>
		<img src ="<%= session[:twitter][:info][:image] %>">
	</div>
	<div id="twittersearch">
		<form action="/twitter/search" method="post">
			<input type="text" name="query" placeholder="Put search term here">
			<input type="submit" value="Search!">
		</form>
	</div>
	<div id="searchresults">
	</div>
</div>