<% if session[:twitter] %>
	<%= erb :twitter, :layout => false %>
<% else %>
	<p>Sign into <a href="/auth/twitter">Twitter</a></p>
<% end %>

<% if session[:soundcloud] %>
	<%= erb :soundcloud, :layout => false %>
<% else %>
	<p>Sign into <a href="/auth/soundcloud">Soundcloud</a></p>
<% end %>

<% if session[:foursquare] %>
	<%= erb :foursquare, :layout => false %>
<% else %>
	<p>Sign into <a href="/auth/foursquare">Foursquare</a></p>
<% end %>